/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import 'tailwindcss';


@theme {
    --color-primary: #FAF3DC;
    --color-text: #0C0801;
    --color-contrast: #61521F;

    --color-extra-1: #94834D;
    --color-extra-2: #C7BA8F;

    --color-focus: #77a698;
}
@layer base {
    html {
        @apply bg-primary;
        @apply h-screen;
    }
    body {
        @apply font-serif;
    }
    select option {
        @apply bg-primary text-text;
    }
    select option:hover {
        @apply bg-extra-2;
    }
    select:focus {
        @apply outline-primary;
    }
    button:focus {
        @apply outline-primary;
    }
}


